{% extends "base.html" %} {% block title %}View My Schedule{% endblock %} {% block content
    %}
    {% block body %}
    <style>
        .table{
            box-shadow: 0 0 20px 5px rgba(206, 27, 0, 0.39) !important;
        }
        #addNewNurseBtn{
            box-shadow: 0 0 15px 3px rgb(19 216 41 / 35%) !important;
        }
    </style>
    <h1 align="center">View My Schedule</h1>
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <!-- Title and button -->
                    <div style="padding-bottom:12px">
                        <h2>Manage <b>Schedule</b> <button id="addNewSchedule" type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Schedule</button></h2>
                    </div>
                    <!-- Grid -->
                    <div>
                        <table class="table table-hover table-dark">
                            <!-- Table headers -->
                            <tr>
                                <th>Schedule ID</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Status</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                            
                            <!-- Records -->
                            {% for row in schedule %}
                            <tr>
                              <td>{{row.scheduleID}}</td>
                              <td>{{row.start_time}}</td>
                              <td>{{row.end_time}}</td>
                              <td>{{row.status}}</td>
                              <td style="width: 155px">
                                 <a href="/update-nurse-schedule/{{row.scheduleID}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.scheduleID}}">Edit</a>
                                 <a href="{{ url_for('views.delete_nurse_schedule', id = row.scheduleID)  }}" onclick="return confirm('Are you sure you want to delete this record?')"class="btn btn-danger btn-xs">Delete</a>
                              </td>
                            </tr>
                            
                        <!-- Modal Edit Nurse-->
                        <div id="modaledit{{row.scheduleID}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Schedule</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{url_for('views.update_nurse_schedule')}}" method="POST">
                                            <div class="form-group">
                                                <div class="input-group date form_datetime col-md-10" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input1">
                                                    <input id="start_time" class="form-control" size="16" type="datetime" name="start_time" value="{{row.start_time}}" readonly>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove" style="margin-top: 7px;">Start Time</span></span>
                                                </div>
                                                <input type="hidden"  name="scheduleID" value="{{row.scheduleID}}"><br/>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group date form_datetime col-md-10" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input1">
                                                    <input id="end_time" class="form-control" size="16" type="datetime" name="end_time" value="{{row.end_time}}" readonly>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove" style="margin-top: 7px;">End Time</span></span>
                                                </div>
                                                <input type="hidden" id="dtp_input1" value="" /><br/>
                                            </div>
                                            
                                            <div class="form-group" style="margin-bottom: -59px; margin-left: 15px;">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </form>
                                        <div class="modal-footer">      
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    <!-- Modal Edit Nurse end-->    
                    </table>
                </div>
            </div>
            <!-- Modal Add Nurse-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Schedule</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('views.create_nurse_schedule')}}" method="POST">
                                <div class="form-group">
                                    <div class="input-group date form_datetime col-md-10" data-date-format="yyyy-mm-dd HH:ii:ss p" data-link-field="dtp_input1">
                                        <input id="start_time" class="form-control" size="16" type="datetime" name="start_time" value="Start Time" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove" style="margin-top: 7px;">Start Time</span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1" value="" /><br/>
                                </div>
                                <div class="form-group">
                                    <div class="input-group date form_datetime col-md-10" data-date-format="yyyy-mm-dd HH:ii:ss p" data-link-field="dtp_input1">
                                        <input id="end_time" class="form-control" size="16" type="datetime" name="end_time" value="End Time" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove" style="margin-top: 7px;">End Time</span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1" value="" /><br/>
                                </div>
                                
                                <div class="form-group" style="margin-bottom: -59px; margin-left: 15px;">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </form>
                            <div class="modal-footer">      
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal Add Nurse end-->
        </div>
    </div>
</div>
    {% endblock %}
{% endblock %}

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>