{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <style>
      .white-panel{
        width: 70% !important;
        right: calc(15%) !important;
        height:fit-content !important;
      }
      .login-reg-panel{
        height:2000px !important;
        top: 100px;
        transform: translateY(0%) !important;
        background-color: rgba(255, 255, 255, 0.9);
      }
      .myAccountHeader{
          margin-top: -50px;
          margin-bottom: 15px;
      }
      .myAccountSubHeader{
          margin-bottom: 25px;
      }
    </style>
    <form action="{{url_for('views.update_account_info')}}" method="POST">
      <div class="login-reg-panel">
        <div class="white-panel">
          <div class="login-show show-log-panel">
            <div>
              <h1 class="myAccountHeader">My Account</h1>
              <h2 class="myAccountSubHeader">Update your information</h2>
              {% if user.is_patient %}
                <div class="form-group">
                  <input type="hidden"  name="patientID" value="{{user.id}}">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter Username"
                    value="{{user_patient.username}}"
                  />
                </div> 
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Enter First name"
                    value="{{user_patient.first_name}}"
                  />
                </div>
                <div class="form-group">
                  <label for="miName">Middle Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="miName"
                    name="miName"
                    placeholder="Enter Middle name"
                    value="{{user_patient.mi_name}}"
                  />
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Enter Last name"
                    value="{{user_patient.last_name}}"
                  />
                </div>
                <div class="form-group">
                  <label for="ssn">SSN</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ssn"
                    name="ssn"
                    pattern="[0-9]{9}" required
                    maxlength=9
                    placeholder="Enter Social Security #"
                    value="{{user_patient.SSN}}"
                  />
                </div>
                <div class="form-group">
                  <label for="age">Age</label>
                  <input
                    type="text"
                    class="form-control"
                    id="age"
                    name="age"
                    placeholder="Enter Age"
                    value="{{user_patient.age}}"
                  />
                </div>
                <div class="form-group">
                  <label for="sex">Sex</label>
                  <input
                    type="text"
                    class="form-control"
                    id="sex"
                    name="sex"
                    placeholder="Enter Sex"
                    value="{{user_patient.sex}}"
                  />
                </div>
                <div class="form-group">
                  <label for="race">Race</label>
                  <input
                    type="text"
                    class="form-control"
                    id="race"
                    name="race"
                    placeholder="Enter Race"
                    value="{{user_patient.race}}"
                  />
                </div>
                <div class="form-group">
                  <label for="occupationClass">Occupation Class</label>
                  <input
                    type="text"
                    class="form-control"
                    id="occupationClass"
                    name="occupationClass"
                    placeholder="Enter Occupation Class"
                    value="{{user_patient.occupation_class}}"
                  />
                </div>
                <div class="form-group">
                  <label for="medicalHistoryDescription">Medical History Description</label>
                  <input
                    type="text"
                    class="form-control"
                    id="medicalHistoryDescription"
                    name="medicalHistoryDescription"
                    placeholder="Enter Medical History Description"
                    value="{{user_patient.medical_history_description}}"
                  />
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="6301112222"
                    pattern="[0-9]{10}" required
                    maxlength=10
                    value="{{user_patient.phone_number}}"
                  />
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    placeholder="Enter Address"
                    value="{{user_patient.address}}"
                  />
                </div>
              <button type="submit" class="submit-button">Submit</button>
              {% elif user.is_admin %}
              <!-- Need to add stuff here if needed -->
              {% elif user.is_nurse %}
              
                <div class="form-group">
                  <input type="hidden"  name="employeeID" value="{{user.id}}">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    placeholder="Enter Address"
                    value="{{user_nurse.address}}"
                  />
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="6301112222"
                    pattern="[0-9]{10}" required
                    maxlength=10
                    value="{{user_nurse.phoneNumber}}"
                  />
                </div>
              <button type="submit" class="submit-button">Submit</button>
              {% endif %}
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endblock %}
    