{% extends "base.html" %} {% block title %}Register{% endblock %} {% block content %}
    {% block body %}
    <h1 align="center">Register a nurse</h1>
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <!-- Title and button -->
                    <h2>Manage <b>Nurses</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Nurse</button></h2>


                    <!-- Grid -->
                    <table class="table table-hover table-dark">
                        
                        <!-- Table headers -->
                        <tr>
                            <th>Employee ID</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Gender</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                        
                        <!-- Records -->
                        {% for row in nurses %}
                        <tr>
                            <td>{{row.employeeID}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.username}}</td>
                            <td>{{row.gender}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.age}}</td>
                            <td>{{row.phoneNumber}}</td>
                            <td>{{row.address}}</td>
                            <td>
                                <a href="/update_nurse/{{row.employeeID}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.employeeID}}">Edit</a>
                                <a href="{{ url_for('views.delete_nurse', id = row.employeeID)  }}" onclick="return confirm('Are you sure you want to delete this record?')"class="btn btn-danger btn-xs">Delete</a>
                            </td>
                        </tr>

                    <!-- Modal Edit Nurse-->
                    <div id="modaledit{{row.employeeID}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Nurse Information</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{url_for('views.update_nurse')}}" method="POST">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input id="email" type="text" class="form-control" name="email" value="{{row.email}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Username:</label>
                                        <input type="hidden"  name="employeeID" value="{{row.employeeID}}">
                                        <input id="username" type="text" class="form-control" name="username" value="{{row.username}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Gender:</label>
                                        <input id="gender" type="text" class="form-control" name="gender" value="{{row.gender}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input id="name" type="text" class="form-control" name="name" value="{{row.name}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Age:</label>
                                        <input id="age" type="text" class="form-control" name="age" value="{{row.age}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone Number:</label>
                                        <input id="phoneNumber" type="text" class="form-control" name="phoneNumber" value="{{row.phoneNumber}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Address:</label>
                                        <input id="address" type="text" class="form-control" name="address" value="{{row.address}}">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
<!-- Modal Edit Nurse end-->    

                    </table>
                </div>

<!-- Modal Add Nurse-->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Add New Nurse</h4>
          </div>
          <div class="modal-body">
             <form action="{{url_for('views.create_nurse')}}" method="POST">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email" required="1">
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" class="form-control" name="username" required="1">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" class="form-control" name="password" required="1">
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <input type="text" class="form-control" name="gender" required="1">
                </div>
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" required="1">
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <input type="text" class="form-control" name="age" required="1">
                </div>
                <div class="form-group">
                    <label>Phone Number:</label>
                    <input type="text" class="form-control" name="phoneNumber" required="1">
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="text" class="form-control" name="address" required="1">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add Nurse</button>
                </div>
             </form>
          </div>
          <div class="modal-footer">      
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
<!-- Modal Add Nurse end-->

            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
