{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<style>
  .white-panel{
    width: 70% !important;
    right: calc(15%) !important;
    height: fit-content !important;
  }
  .login-reg-panel{
    height: 1130px !important;
    top: 100px;
    transform: translateY(0%) !important;
    background-color: rgba(255, 255, 255, 0.9);
  }
</style>
<form method="POST">
  <div class="login-reg-panel">
    <div class="white-panel">
      <div class="login-show show-log-panel">
        <h2 style="float: left; margin-top: 45px;">Create a New Account</h2>
        <img src="/static/img/smaller-logo-orange.png" width="100" height="100" style="float:right; margin-top:-20px;margin-bottom: 35px;">
        <div style="padding-top:60px">
          <div class="form-group">
{#            <label for="email">Email Address</label>#}
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
{#            <label for="username">Username</label>#}
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter Username"
            />
          </div> 
          <div class="form-group">
{#            <label for="password1">Password</label>#}
            <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Enter Password"
            />
          </div>
          <div class="form-group">
{#            <label for="password2">Password (Confirm)</label>#}
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirm Password"
            />
          </div>
          <div class="form-group">
{#            <label for="firstName">First Name</label>#}
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Enter First Name"
            />
          </div>
          <div class="form-group">
{#            <label for="miName">Middle Name</label>#}
            <input
              type="text"
              class="form-control"
              id="miName"
              name="miName"
              placeholder="Enter Middle Name"
            />
          </div>
          <div class="form-group">
{#            <label for="lastName">Last Name</label>#}
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Enter Last Name"
            />
          </div>
          <div class="form-group">
{#            <label for="ssn">SSN</label>#}
            <input
              type="text"
              class="form-control"
              id="ssn"
              name="ssn"
              placeholder="Enter Social Security #"
            />
          </div>
          <div class="form-group">
{#            <label for="age">Age</label>#}
            <input
              type="text"
              class="form-control"
              id="age"
              name="age"
              placeholder="Enter Age"
            />
          </div>
          <div class="form-group">
{#            <label for="gender">Gender</label>#}
            <input
              type="text"
              class="form-control"
              id="gender"
              name="gender"
              placeholder="Enter Gender"
            />
          </div>
          <div class="form-group">
{#          <label for="race">Race</label>#}
            <input
              type="text"
              class="form-control"
              id="race"
              name="race"
              placeholder="Enter Race"
            />
          </div>
          <div class="form-group">
{#          <label for="occupationClass">Occupation Class</label>#}
            <input
              type="text"
              class="form-control"
              id="occupationClass"
              name="occupationClass"
              placeholder="Enter Occupation Class"
            />
          </div>
          <div class="form-group">
{#            <label for="medicalHistoryDescription">Medical History Description</label>#}
            <input
              type="text"
              class="form-control"
              id="medicalHistoryDescription"
              name="medicalHistoryDescription"
              placeholder="Enter Medical History Description"
            />
          </div>
          <div class="form-group">
{#            <label for="phoneNumber">Phone Number</label>#}
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="Enter Phone Number"
            />
          </div>
          <div class="form-group">
{#            <label for="address">Address</label>#}
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              placeholder="Enter Address"
            />
          </div>
          <button type="submit" class="submit-button" style="margin-bottom: 35px;">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
