{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Select an Available Date</h1>
<!-- Calendar -->
<div id="calendar"></div>
    <script>
        let eventObject;
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar
        (
            calendarEl, {
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        editable: true,
                        selectable: true,
                        aspectRatio: 1.5,
                        allDaySlot: false,
                        slotMinTime: "08:00:00",
                        slotMaxTime: "21:00:00",
                        dayMaxEventRows: true,
                        views: { timeGrid: {
                            dayMaxEventRows: 6
                        }},
                        eventClick: function(info) {
                            var eventInfo = info.event.start;
                            var parEl = document.getElementById("eventDateTime");
                            document.getElementById("appt_dateandtime").value = info.event.startStr;
                            parEl.innerHTML = eventInfo;
                            eventObject = info.event;
                            $("#addEvent").modal();
                        },
                        events: [
                            {% for datetime, val in events.items()  %}
                                {
                                    title: '{{ val['available'] }}',
                                    start: '{{ datetime }}',
                                    allDay: false,
                                    editable: false,
                                    color: '{{ val['color'] }}'
                                },
                            {% endfor %}
                        ]
                    }
        );
        calendar.render();
        /* Add New Appointment to Calender */
        function addCalenderAppt() {
            let sameStart = eventObject.start;
            eventObject.remove();
            calendar.addEvent({title: "Your Appointment", start: sameStart, allDay: false, editable: false});
            $("#addEvent").modal('hide');
            $("#deleteAppt").disabled = true;
        }
    </script>
    <div style="margin-left: 179px; margin-top: -1184px;">
        <a id="deleteAppt" href="{{ url_for('views.delete_appointment') }}" onclick="return confirm('Are you sure you want to delete current appointment?')" class="btn btn-primary" type="button" disabled>Cancel current appointment</a>
    </div>
    <!-- Modal: confirm schedule appointment -->
    <div class="modal" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirm Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
    
            <!--Body-->
            <div class="modal-body">
                <p>What: COVID-19 Vaccination</p>
                <p>Where: University of Illinois Hospital <br> 1200 W Harrison St, Chicago IL</p>
                <p>When: <span id="eventDateTime"></span> </p>
            </div>
    
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <form action="{{url_for('views.create_appointment')}}" method="POST">
                    <label for="vaccinetype">Vaccine Type:</label>
                    <select name="vaccineType" id="vaccineType" style="margin-left:5px; width:100px">
                        <option value="moderna">Moderna</option>
                        <option value="pfizer">Pfizer</option>
                        <option value="johnson&johnson">Johnson & Johnson</option>
                    </select>
                    <input id="appt_dateandtime" type="hidden" class="form-control" name="appt_dateandtime" value="">
                    <button onclick="addCalenderAppt()" class="btn btn-primary" type="submit">Confirm</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!--/.Content-->
        </div>
    </div>
    <!-- Modal: confirm schedule appointment -->
<style>
    .btn-primary {
    color: #fff;
    background-color: #ce4409;
    border-color: #ce4409;
}
</style>
{% endblock %}
